main {
  margin: 0 auto;
  width: 30vw;
}

section {
  text-align: center;
  margin-top: 10px;
}

#battery {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#battery div {
  height: 50px;
}

.energy-level-0 div {
  background: white;
}

.energy-level-1 div:last-child {
  background: red;
}

.energy-level-2 div:nth-child(2),
.energy-level-2 div:last-child {
  background: orange;
}

.energy-level-3 div {
  background: green;
}
